
<ion-content class="ion-padding">
  <h1>Create una Cuenta,</h1>
  <h3>Registrate para iniciar session!</h3>

  <form [formGroup] = "formularioRegistro" (keyup.enter)="CreaUsuarios()" >
    <ion-item class="objeto">
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre" position="floating" formControlName="nombre" minlength="3">
      </ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Email: </ion-label>
      <ion-input type="text" placeholder="Email" position="floating" formControlName="Email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password" placeholder="Contraseña" position="floating" formControlName="password" minlength="6">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Carrera: </ion-label>
      <ion-input type="text" placeholder="Carrera" position="floating"
                 formControlName="carrera" minlength="6" >
      </ion-input>
    </ion-item>

    <app-button label="Registro" hrf="/login"></app-button>
  </form>
  <p class="footer-text">Ya eres Usuario , <a href="#">Sing up</a></p>
</ion-content>

