<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>AppQR</ion-card-subtitle>
      <ion-card-title>Bienvenid@ {{Nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/alumnos.jpg" class="ion-padding">
      <p class="parrafo">
      Bienvenido a "RegistrApp", para empezar puedes dirigirte a la seccion "Escanear QR" para que quedes presente en tu clase.
     </p>
    </ion-card-content>
  </ion-card>



</ion-content>
