<ion-header>
  <ion-toolbar>
    <ion-title>feriados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let f of feriado">

            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        <span class="text-primary"></span>
                        <p>{{f.nombre}} </p>
                    </ion-card-subtitle>
                    <ion-card-title>{{f.comentario}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        {{f.fecha}}
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
