<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-icon class="icono" name="qr-code-outline" id="icon"></ion-icon>
    <qrcode class="icono" [qrdata]="qrCodeString" id="qr" style="display: none;"  [width]="170" [errorCorrectionLevel]="'M'"></qrcode>>
    <form [formGroup] = "SeccionForm">
      <ion-item>
        <ion-label>Asignaturas:</ion-label>
        <ion-select placeholder="Selecciones:" formControlName="seccion" mode="ios" type="text">
          <ion-select-option required value="PGY4121_005D">PGY4121_005D</ion-select-option>
          <ion-select-option required value="PGY4121_006D">PGY4121_006D</ion-select-option>
          <ion-select-option required value="PGY4121_007D">PGY4121_007D</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-button (click)="Generar2()" expand="block" fill="outline" shape="round">
        Generar QR
      </ion-button>
      </form>
   
</ion-content>
